body {
  margin: 0;
}

.navText {
  color: blue;
}

.all__photos {
  text-align: center;
}

.imageCell {
  display: inline;
  margin: 5px 2px;
}

.image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.single-photo {
  width: 100%;
}
